:root{
    --primary-color: #111111 !important;
    --secondary-color: #2c292a !important;
    --tertiary-color: #242122 !important;
    --quaternary-color: #a3a0a1 !important;


    --toast-message: #252525 !important;
    --placeholder-color: #686566 !important;
    --input-border: #403d3e !important;
    --hide-show-color: #c5c5c5 !important;
    --password-strength-color: #e2e2e2 !important;
    --password-strength-Indicator: var(var(--secondary-color)) !important;


    --text-color: white !important;
    --reverse-text-color: black !important;
    --White: white !important;
    --Black: black !important;

    --ok-button-color: #6928c6 !important;
    --ok-button-hover-color: #9bbb58 !important;

    --weak-password-indicator: #f73f36 !important;
    --medium-password-indicator: #d39a0b !important;
    --strong-password-indicator: #24ce53 !important;
}