<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Your Password</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <p class="title">Change Your Password</p>
    <div class="formContainer">
        <form id="formContainer" class="formComposer" autocomplete="off" method="post">
            <p><i class="fa-solid fa-user"></i> Username</p>
            <input type="text" name="username" required>
            <p><i class="fa-solid fa-lock"></i> Old Password</p>
            
            <div class="passwordOldPassword">
                <input type="password" id="oldPassword" name="old_password" required>
                <i id="oldPasswordshowPassword" class="fas fa-eye" onmousedown="togglePassword('oldPassword')"></i>
            </div>

            <div class="passwordContainer"> 

                <div class="passwordNewPassword">
                    <p><i class="fa-solid fa-key"></i> New Password</p>
                    <input type="password" id="newPassword" name="new_password" required>
                    <i id="newPasswordshowPassword" class="fas fa-eye" onmousedown="togglePassword('newPassword')"></i>
                </div>

                <div class="passwordRetypePassword">
                    <p><i class="fa-solid fa-unlock"></i> Retype Password</p>
                    <input type="password" id="repeatPassword" name="repeat_password" required>
                    <i id="repeatPasswordshowPassword" class="fas fa-eye" onmousedown="togglePassword('repeatPassword')"></i>
                </div>
            </div>

            <div id="passwordStrength">
                <div id="strengthIndicator"></div>
                <div class="tooltip"><i class="fa-solid fa-circle-info"></i>
                    <span class="tooltiptext">Lorem Ipsum</span>
                  </div>
              </div>
                <button class="buttonChange" id="submitButton" method="POST" action="/" disabled>Change Password</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <ul class="messages">
                <div class="{{ category }}">{{ message }}</div>
            </ul>
        {% endfor %}
    {% endwith %}
    <footer>
        <a href="https://github.com/LoserPurp" target="_blank">Made by LoserPurp</a>
        <a href="https://github.com/OlaYZen" target="_blank">Styling by OlaYZen</a>
        <a href="https://github.com/LoserPurp/user-password-changer" target="_blank">Github</a>
    </footer>

</body>
<script src="https://kit.fontawesome.com/47dbf3c43e.js" crossorigin="anonymous"></script>


<script src="{{ url_for('static', filename='script.js') }}"></script>
<!-- <script src="../static/script.js"></script> -->

</html>
